.title {
	text-align: center;
}

#home {

	margin-left: 90%;
	width:60px; 
	height:60px;
	
}

.links {
	width: 60px;
	height: 60px;
}

.table {
	margin-left: 41.5%;

}

#home2 {
	margin-left: 48%;
	width:60px; 
	position: fixed;
}
