.title {
	color:#5C1715;
	text-align: center;
}

#home {

	margin-left: 90%;
	width:50px; 
	height:50px;
	position: fixed;
	
}

div {
	color:#5C1715;
	margin-left: 25%;
	margin-right: 25%;

	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;

    -webkit-column-fill: balance;
    -moz-column-fill: balance; /* Firefox */
    column-fill: balance;

    -webkit-column-rule: 1px dotted #5C1715; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px dotted #5C1715; /* Firefox */
    column-rule: 1px dotted #5C1715;
}

.line {

	border-top: 1px dotted #5C1715;
	color: #FFFFFF;
	height: 1px;
	width:50%;
}

.links {
	width: 30px;
	height: 30px;
}

.table {
	margin-left: 45.5%;

}

#home2 {
	margin-left: 49%;
	width:50px; 
	height: 50;
	
}
