<table class="social-table">
	<tr>
		<td><a href="https://www.linkedin.com/pub/brian-sheridan/74/922/a15"><img class="social-links" src="../images/nav_icons/LinkedIn.png"></a></td>

		<td><a href="https://www.facebook.com/brian.sheridan.52"><img class="social-links" src="../images/nav_icons/Facebook.png"></a></td>

		<td><a href="https://plus.google.com/u/0/+BrianSheridan12/posts"><img class="social-links"src="../images/nav_icons/Google.png"></a></td>

		<td><a href="https://github.com/Bsheridan12"><img class="social-links" src="../images/nav_icons/GitHub.png"></a></td>

		<td><a href="https://twitter.com/bsheridan12"><img class="social-links" src="../images/nav_icons/Twitter.png"></a></td>
	</tr>
</table>