<table class="table">
	<tr>
		<td><a href="https://www.linkedin.com/pub/brian-sheridan/74/922/a15"><img class="links" src="LinkedIn.png"></a></td>

		<td><a href="https://www.facebook.com/brian.sheridan.52"><img class="links" src="./images/Facebook.png"></a></td>

		<td><a href="https://plus.google.com/u/0/+BrianSheridan12/posts"><img class="links"src="Google.png"></a></td>

		<td><a href="https://github.com/Bsheridan12"><img class="links" src="GitHub.png"></a></td>

		<td><a href="https://twitter.com/bsheridan12"><img class="links" src="Twitter.png"></a></td>

	</tr>
</table>